.header-wrapper{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.header-wrapper
.links-container{
    display: flex;
    font-size: 22px;
    gap: 40px;
    color: white;
}

.header-wrapper 
.links-container
a{
    color: white;
    text-decoration: none;
}

.header-wrapper 
.links-container 
a:hover{
    color: #3500D3;
}

.header-wrapper
.download-cv a{
    font-size: 22px;
    background-color: #3500D3;
    padding: 20px;
    box-shadow: 0px 0px #240090, 0px 0px #190061;
    transition: box-shadow 0.25s ease-out;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* Hover Animations */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    transition: color 0.25s ease-out;
    cursor: pointer;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3500D3;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover{
    color: #3500D3;
}

.header-wrapper .download-cv a:hover {
    box-shadow: 4px -4px #240090, 8px -8px #190061;
}

@media only screen and (max-width: 1100px) {

    .header-wrapper {
        padding: 20px 20px;
    }

    .header-wrapper .links-container {
        display: none;
    }

    .header-wrapper
    .logo-container
    img{
        width: 60px;
    }

    .header-wrapper .download-cv a {
        font-size: 18px;
        background-color: #3500D3;
        padding: 15px;
        box-shadow: 0px 0px #240090, 0px 0px #190061;
        transition: box-shadow 0.25s ease-out;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
}